@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Martel:400,700&display=swap");
main > section:nth-child(2) {
  background-color: #222d32;
}
main > section:nth-child(2) .role {
  margin-top: 1rem;
  display: block;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
}
main > section:nth-child(2) .section-link-badge {
  background-color: #555fbc;
  border-radius: calc(.6vw + .4rem);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
main > section:nth-child(2) .section-link-badge:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
main > section:nth-child(2) .section-link-badge > span {
  color: #222d32;
}
main > section:nth-child(2) .section-link-badge > svg {
  fill: #222d32;
}
main > section:nth-child(2) .section-link-badge > svg.circle-badge {
  background: #222d32;
  fill: #555fbc;
}
main > section:nth-child(2) .section-link-badge:hover {
  background-color: #181f23;
}
main > section:nth-child(2) .section-link-badge:hover > span {
  color: #555fbc;
}
main > section:nth-child(2) .section-link-badge:hover > svg {
  fill: #555fbc;
}
main > section:nth-child(2) .section-link-badge:hover > svg.circle-badge {
  background: #555fbc;
  fill: #181f23;
}
main > section:nth-child(2) h3, main > section:nth-child(2) h5 {
  color: #6546a6;
}
main > section:nth-child(2) > div:first-of-type {
  background: linear-gradient(transparent, #222d32);
}
main > section:nth-child(2) > video {
  opacity: 0.4;
}
main > section:nth-child(2) > section {
  display: grid;
  justify-items: center;
}
main > section:nth-child(2) > section > div > span:nth-of-type(1) {
  font-size: 1.2rem;
  font-weight: 600;
  color: #555fbc;
  font-family: "Martel", serif;
}
main > section:nth-child(2) > section > div > span:nth-of-type(1):after {
  content: ": ";
}
main > section:nth-child(2) > section:nth-of-type(1) {
  grid-template: "title lang tools" auto ". other frameworks" auto/minmax(25%, auto) 1fr 1fr;
}
@media (max-width: 900px) {
  main > section:nth-child(2) > section:nth-of-type(1) {
    grid-template: "title title" auto "lang tools" auto "other frameworks" auto/1fr 1fr;
  }
}
@media (max-width: 600px) {
  main > section:nth-child(2) > section:nth-of-type(1) {
    grid-template: "title title" auto "lang other" auto "lang frameworks" auto "tools tools" auto/1fr 1fr;
  }
}
main > section:nth-child(2) > section:nth-of-type(1) > h3 {
  text-align: center;
}
main > section:nth-child(2) > section:nth-of-type(1) > div > ul {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}
main > section:nth-child(2) > section:nth-of-type(1) > div > ul > li {
  font-weight: 700;
}
main > section:nth-child(2) > section:nth-of-type(1) > div > ul > li > span {
  color: #91a1af;
  font-weight: normal;
  font-size: 0.9rem;
}
main > section:nth-child(2) > section:nth-of-type(1) > div > ul > li > span:after {
  content: ": ";
}
main > section:nth-child(2) > section:nth-of-type(2) {
  grid-template: "title . ." auto ". content content" auto/minmax(25%, auto) 1fr 1fr;
}
@media (max-width: 900px) {
  main > section:nth-child(2) > section:nth-of-type(2) {
    grid-template: "title title" auto "content content" auto/1fr 1fr;
  }
}
@media (min-width: 900px) {
  main > section:nth-child(2) > section:nth-of-type(2) > div {
    margin: 0 2rem;
  }
}
main > section:nth-child(2) > section:nth-of-type(2) > div > div > span {
  display: block;
  font-weight: 600;
}
main > section:nth-child(2) > section:nth-of-type(2) > div > div > span:nth-child(1) {
  display: block;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
}
main > section:nth-child(2) > section:nth-of-type(2) > div > div > span:nth-child(2) {
  color: #555fbc;
  font-size: 1.4rem;
}
main > section:nth-child(2) > section:nth-of-type(2) > div > div > span:nth-child(2) > span {
  color: #91a1af;
  margin-left: 0.3rem;
  font-size: 1rem;
}
main > section:nth-child(2) > section:nth-of-type(2) > div > div p, main > section:nth-child(2) > section:nth-of-type(2) > div > div ul {
  margin: 0.5rem 0 1.6rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
main > section:nth-child(2) p {
  text-indent: 1rem;
}
main > section:nth-child(2) > section:nth-of-type(3) {
  grid-template: "title . ." auto ". content content" auto/minmax(25%, auto) 1fr 1fr;
}
@media (max-width: 900px) {
  main > section:nth-child(2) > section:nth-of-type(3) {
    grid-template: "title title" auto "content content" auto/1fr 1fr;
  }
}

/*# sourceMappingURL=experience-styles.css.map */
