@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Martel:400,700&display=swap");
main > section:nth-child(1) {
  background-color: #243f4c;
}
main > section:nth-child(1) .section-link-badge {
  background-color: #429252;
  border-radius: calc(.8vw + .6rem);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
main > section:nth-child(1) .section-link-badge:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
main > section:nth-child(1) .section-link-badge > span {
  color: #243f4c;
}
main > section:nth-child(1) .section-link-badge > svg {
  fill: #243f4c;
}
main > section:nth-child(1) .section-link-badge > svg.circle-badge {
  background: #243f4c;
  fill: #429252;
}
main > section:nth-child(1) .section-link-badge:hover {
  background-color: #1c313b;
}
main > section:nth-child(1) .section-link-badge:hover > span {
  color: #429252;
}
main > section:nth-child(1) .section-link-badge:hover > svg {
  fill: #429252;
}
main > section:nth-child(1) .section-link-badge:hover > svg.circle-badge {
  background: #429252;
  fill: #1c313b;
}
main > section:nth-child(1) h3, main > section:nth-child(1) h5 {
  color: #429252;
}
main > section:nth-child(1) > div:first-of-type {
  background: linear-gradient(transparent, #243f4c);
}
main > section:nth-child(1) > div:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 2rem;
  height: 3rem;
  background: linear-gradient(#243f4c, #222d32);
}
main > section:nth-child(1) section:not(:first-child) > span {
  display: block;
  margin-left: 2rem;
}
main > section:nth-child(1) section:not(:first-child) span, main > section:nth-child(1) section:not(:first-child) ul {
  font-size: 1.1rem;
}

.split-section > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vh 0;
}
.split-section > div > div {
  max-width: 50%;
}
.split-section > div > div:nth-child(2) {
  padding: 0 calc(2vw + 1rem);
  box-sizing: content-box;
}
@media (max-width: 700px) {
  .split-section > div {
    flex-direction: column;
  }
  .split-section > div > div {
    max-width: 100%;
  }
  .split-section > div > div:nth-child(2) {
    padding: calc(2vw + 1rem) calc(2vw + 1rem);
  }
}

#mesh-editor-description > div img {
  position: relative;
  display: block;
  width: 100%;
}
@media (min-width: 700px) {
  #mesh-editor-description > div img {
    margin-top: 2rem;
  }
}

#mesh-properties > div > div:nth-child(1) > div:not(.mesh-property) {
  margin-left: 20px;
}
#mesh-properties > div > div:nth-child(2) {
  width: calc(15vw + 10rem);
  height: calc(15vw + 10rem);
}
#mesh-properties > div > div:nth-child(2) img {
  position: absolute;
  width: calc(15vw + 10rem);
}
#mesh-properties > div .mesh-property {
  margin: calc(.8vw + .2rem);
  font-size: calc(.2vw + .8rem);
}
#mesh-properties > div .mesh-property input {
  display: inline-block;
}
#mesh-properties > div .mesh-property input[type=checkbox] {
  height: calc(.2vw + .8rem);
  width: calc(.2vw + .8rem);
  position: absolute;
  cursor: pointer;
  visibility: hidden;
  margin: 2px;
}
#mesh-properties > div .mesh-property input[type=range] {
  width: 6rem;
  margin-left: 1rem;
}
#mesh-properties > div .mesh-property label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
}
#mesh-properties > div .mesh-property label::before {
  content: "";
  left: 0;
  display: block;
  position: absolute;
  width: calc(.2vw + .8rem);
  height: calc(.2vw + .8rem);
  stroke: white;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid #3596fa;
}
#mesh-properties > div .mesh-property input[type=checkbox]:checked + label::before {
  background: #4ea3fb url("../../assets/svg/checkmark.svg");
}

/*# sourceMappingURL=mesh-styles.css.map */
