@import "../common/templates"
@import "../common/variables"
@import "../common/layouts"

$sub-page-index: 3

$accent-color: nth($accent-colors, $sub-page-index)
$bg-color: nth($bg-colors, $sub-page-index)

main > section:nth-child(#{$sub-page-index})
  .section-link-badge
    +section-link-badge-colors($accent-color, $bg-color)

  h1
    span
      font: inherit
      font-size: calc(1.8vw + 1.2rem)
  +sub-page($bg-color, $accent-color)

  img
    +relative-block
    width: 100%
    @media (min-width: $layout-breakpoint)
      margin-top: 2rem