@import "variables"

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Martel:400,700&display=swap')
=serif-font
  font-family: 'Martel', serif

=transform($property)
  -webkit-transform: $property
  transform: $property

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

=relative-block
  position: relative
  display: block

=mat-shadow
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  &:hover
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

=section-link-badge-colors($accent-color, $bg-color)
  background-color: $accent-color
  border-radius: $badge-size
  +mat-shadow
  > span
    color: $bg-color
  > svg
    fill: $bg-color
  > svg.circle-badge
    background: $bg-color
    fill: $accent-color
  &:hover
    background-color: darken($bg-color, 5%)
    > span
      color: $accent-color
    > svg
      fill: $accent-color
    > svg.circle-badge
      background: $accent-color
      fill: darken($bg-color, 5%)

@mixin text-selection($text-color, $bg-color)
  ::selection
    color: $text-color
    background: $bg-color

  ::-moz-selection
    color: $text-color
    background: $bg-color

@mixin scrollbars($size, $color)
  // For Google Chrome
  ::-webkit-scrollbar
    width: $size
    height: $size

  ::-webkit-scrollbar-thumb
    height: $size / 2
    border: $size / 4 solid $main-bg-color
    background-clip: padding-box
    border-radius: $size
    background: $color

  ::-webkit-scrollbar-button
    width: 0
    height: 0
    display: none

  ::-webkit-scrollbar-corner, ::-webkit-scrollbar-track
    background: transparent

  // Firefox
  html
    scrollbar-color: $color transparent
    scrollbar-width: thin

  // Internet Explorer
  body
    scrollbar-face-color: $color
    scrollbar-track-color: transparent