@import "../common/variables"
@import "../common/templates"

$nav-size: '(.4vw + .4em)'
$nav-margin: .4rem
$max-nav-el-count: 5
$fold-time: .8s

$bg-color: nth($bg-colors, 2)

.section-nav-extended
  @for $i from 1 through $max-nav-el-count
    > div:nth-child(#{$i})
      top: calc((#{$nav-size} + #{$nav-margin * 2}) * #{$i - 1} + 2vw + 1rem) !important
      transition-delay: ($i - 1) * $fold-time / 10 !important

#section-nav:not(.section-nav-extended)
  @for $i from 1 through $max-nav-el-count
    > div:nth-child(#{$i})
      transition-delay: ($max-nav-el-count - $i) * $fold-time / 10 !important

#logo-box
  > div:first-child
    cursor: pointer
  #section-nav
    z-index: 1
    width: 100%
    position: absolute
    top: calc(50% - #{$nav-size} / 2)
    display: none
    padding: 0 calc(50% - #{$nav-size} / 2 - #{$nav-margin})
    > div
      position: absolute
      top: 0
      padding: $nav-margin
      width: calc(#{$nav-size})
      height: calc(#{$nav-size})
      box-sizing: content-box
      cursor: pointer
      transition: top $fold-time ease-out
      &::after
        content: ''
        position: absolute
        display: block
        width: calc(#{$nav-size})
        height: calc(#{$nav-size})
        border-radius: 50%
        background-color: $main-color
