@import "common/variables"
@import "common/templates"

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:400,700&display=swap')

$link-bubble-size: calc(.8vw + 1.2rem)
$header-height: 8vw

div, section, video
  display: block
  position: relative
*
  box-sizing: border-box
  color: $text-color
  font-family: 'Open Sans', sans-serif

html
  font-size: 100%

+keyframes(scroll-hint)
  0%
    opacity: 0
  100%
    opacity: 0.2

body
  margin: 0
  background-color: $bg-color

  #loading-cover
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: $bg-color
    z-index: 1

    div
      position: absolute
      bottom: 5%
      width: 100%

      text-align: center
      font-weight: 700
      color: $text-color
      font-size: calc(.6vw + .3rem)
      text-transform: uppercase

      opacity: 0
      animation: scroll-hint 2s ease-in-out 2s forwards

      svg
        display: block
        margin: calc(.8vw + 0.4rem) auto
        width: calc(2vw + 1.2rem)
        fill: $text-color

  .header-unpinned
    transform: translateY(-$header-height)
  .header-pinned
    transform: translateY(0)

  header
    width: 100%
    height: $header-height
    position: fixed
    display: flex
    align-items: center
    z-index: 1
    padding: 0 $page-margin
    transition: transform 0.5s ease-in-out

  #title
    margin-top: calc(2vw + 1rem)
    font-family: 'Roboto Slab', serif
    font-weight: 700
    font-size: calc(1.4vw + 0.7rem)
    padding-left: calc(#{$page-margin} + #{$final-logo-size} * 1.5)

  main
    margin: 0 $page-margin
    padding: 6vw
    display: grid
    grid-gap: 2rem
    grid-template-columns: auto auto
    justify-items: center

    @media (max-width: 800px)
      grid-template-columns: auto

    > section
      width: 100%
      overflow: hidden

      > video
        border-radius: 1rem
        max-width: 100%
        max-height: 30rem
        margin: 0 auto

      > span:nth-of-type(1)
        display: block
        width: 100%
        text-align: center
        font-family: 'Roboto Slab', serif
        padding: 1rem
        font-size: 1.4rem
      font-weight: 700

    > section:nth-of-type(1)
      header


  footer
    width: 100%
    padding: 1rem $page-margin
    box-sizing: border-box
    text-align: center
    font-size: calc(.4vw + .4rem)
    color: mix($text-color, $bg-color, 20%)
    background-image: linear-gradient($bg-color, lighten($bg-color, 2%))

    section
      display: flex
      justify-content: center
      align-items: center
      margin-bottom: 1rem
      a
        width: $link-bubble-size
        height: $link-bubble-size
        padding: calc(.2vw + .2rem)
        margin: 0 .6rem
        border-radius: 50%
        background-color: $text-color
        svg
          display: block
          fill: mix($main-color, $bg-color, 50%)
      a:hover
        background-color: mix($main-color, $bg-color, 50%)
        transform: scale(1.3)
        svg
          fill: $text-color

      a:nth-of-type(1)
        padding: .3rem
        svg
          margin: 0 0 .1rem .1rem



  > #ie-text
    z-index: 1
    top: 5%
    position: fixed
    text-align: center
    padding: 2rem
    width: 100%
    font-size: calc(1.5vw + 0.5rem)
